
  .medium-right-img {
    width: 100%;
    height: 15em;
    float: right;
    margin: 10px;
    margin-top: 30px;
  }
  
  .small-centre-img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto
  }
  
  .medium-centre-img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border:1px solid rgb(192,192,192);
  }
  
  
  #coverimage{
    background-image: url("../images/coverimage.jpg");
    
  }
  #navholdercover{
    background-image: url("../images/coverimage.jpg");
    
  }

  #coverdominican{
    background-image: url("../images/dominicanrepublic.jpg");
  }

  #navholderdominican{
    background-image: url("../images/dominicanrepublic.jpg");
  }

  #covermauritius{
    background-image: url("../images/mauritius.jpg");
  }
  #navholdermauritius{
    background-image: url("../images/mauritius.jpg");
  }

  #coverstlucia{
    background-image: url("../images/stlucia2.jpg");
  }
  #navholderstlucia{
    background-image: url("../images/stlucia2.jpg");
    background-size: 101%;
    
  }
  #coverseychelles{
    background-image: url("../images/seychelles.jpg");
  }
  #navholderseychelles{
    background-image: url("../images/seychelles.jpg");
  }
  #coverborabora{
    background-image: url("../images/borabora.jpg");
  }
  #navholderborabora{
    background-image: url("../images/borabora.jpg");
  }
  #coverbali{
    background-image: url("../images/bali.jpg");
  }
  #navholderbali{
    background-image: url("../images/bali.jpg");
  }
  #coverfiji{
    background-image: url("../images/fiji.jpg");
  }
  #navholderfiji{
    background-image: url("../images/fiji.jpg");
  }